.profile {
    color: white;
    font-size: 20px;
    margin: 5px 0;
}

#board-outer-container {
    gap: 30px;
}

#board-inner-container {
    flex-direction: column;
}

#evaluation-bar {
    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: var(--rounded-radius);
}

#board {
    grid-column: 1 / 2;

    max-width: 100%;

    border: 2px solid var(--border-color);
    border-radius: var(--rounded-radius);
}