.profile {
    color: white;
    font-size: 20px;
}

#board-outer-container {
    gap: 30px;
}

#board-inner-container {
    flex-direction: column;
}

#evaluation-bar {
    background-color: white;
    border: 2px solid var(--border-color);
}

#board {
    grid-column: 1 / 2;

    max-width: 100%;
    width: 720px;
    height: auto;

    border: 2px solid var(--border-color);
    border-radius: 10px;
}