.profile {
    color: white;
    font-size: 20px;
    background-color: var(--border-color);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
}

.profile:nth-child(1) {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#board-outer-container {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

#board-inner-container {
    display: grid;

}

#evaluation-bar {
    border: none;
    border-radius: 0.2rem;
}

#black-rect {
    transition: all 1s ease 0s;
}

#white-rect {
    transition: all 1s ease 0s;
}

#board {
    grid-column: 1 / 2;
    width: 730px;
    height: 730px;
}