/*
    REPORT CARDS CONTAINER
*/
#report-cards {
    display: none;
    flex-direction: column;
    align-items: center;

    width: 100%;
    position: relative;
}

/*
    ACCURACY PERCENTAGES
*/
#accuracies-title {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 90%;
    text-align: center;
    margin-bottom: 5px;
    border: 2px solid var(--border-color);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
}

.accuracyDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.accuracies{
    border: 2px solid #4caf50;
    border-radius: 10px;
    padding: 3px 5px 3px 5px;
    font-size: 20px;

}

#white-accuracy {
    background-color: rgb(255, 255, 255, 1);
    color: black;
}

#black-accuracy {
    background-color: rgb(0, 0, 0, .6);
    color: white;
}

/*
    CLASSIFICATION MESSAGE
    e.g "Nd4 is a great move"
*/
#classification-message-container, #top-alternative-message{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 25px;
    width: 90%;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 5px;
    color: white;
    border: 2px solid var(--border-color);
}

#classification-message {
    font-size: 18px;
}

#top-alternative-message {
    color: #4caf50;
    text-align: center !important;
    margin-top: 5px !important;
}

/*
    ENGINE SUGGESTIONS
*/
#engine-suggestions {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 25px;
    border: 2px solid var(--border-color);

    width: 90%;

    background-color: var(--primary-color);
}

#engine-suggestions-title {
    margin-top: 5px;
}
.accuracyHolder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.engine-suggestion {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin: 5px;

    font-size: 18px;
    
}

.engine-suggestion b {
    padding: 0 3px;
    text-align: center;
    border-radius: 5px;
    padding: 0px 4px 0px 4px;
    background-color: var(--secondary-color);
    border: 2px solid var(--border-color);
}

/*
    OPENING NAME
*/

#opening-name {
    position: absolute;
    left: 5%;
    top: 50px;
    width: 90%;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 2px solid var(--border-color);
    padding: 0px 5px 0px 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}