/*
    REPORT CARDS CONTAINER
*/
#report-cards {
    display: none;
    flex-direction: column;
    align-items: center;

    width: 100%;
    position: relative;
}

/*
    ACCURACY PERCENTAGES
*/
#accuracies-title {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 90%;
    text-align: center;
    border: 2px solid var(--border-color);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
}

.accuracyDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.accuracies {
    border: 2px solid #4caf50;
    border-radius: 10px;
    padding: 3px 5px 3px 5px;
    font-size: 20px;

}

#white-accuracy {
    background-color: rgb(255, 255, 255, 1);
    color: black;
}

#black-accuracy {
    background-color: rgb(0, 0, 0, .6);
    color: white;
}

/*
    CLASSIFICATION COUNT
*/
#classification-count-tooltip-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;

    color: #4caf50;
}

#classification-count-tooltip-message {
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;

    cursor: pointer;
}


#classification-count-container {
    visibility: hidden;
    position: absolute;

    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    background-color: var(--primary-color);
    width: 60%;

    color: white;
    flex-direction: column;
    font-size: 13px;
    gap: 2px;
}

@media (min-width: 1537px) {
    #classification-count-tooltip-container {
        margin-top: 40px;
    }

    #classification-count-tooltip-message {
        font-size: 15px;
    }

    #classification-count-container {
        top: 112px;
    }
}

@media (max-width: 1536px) {
    #classification-count-tooltip-container {
        margin-top: 40px;
    }

    #classification-count-tooltip-message {
        font-size: 15px;
    }

    #classification-count-container {
        top: 112px;
    }
}



@media (max-width: 380px) {
    #classification-count-tooltip-container {
        margin-top: 48px;
    }

    #classification-count-tooltip-message {
        font-size: 11px;
    }

    #classification-count-container {
        top: 116px;
    }
}

.classification-count-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.classification-count-content {
    display: flex;
    gap: 6px;
    font-weight: bold;
    align-items: center;
}

.classification-count-content > img {
    height: 15px;
}

#classification-count-tooltip-message {
    transition: color 0.25s ease-in-out;
}

#classification-count-tooltip-message:hover {
    color: #abe7ad;
}

#classification-count-tooltip-message:hover + #classification-count-container {
    visibility: visible;
}

/*
    CLASSIFICATION MESSAGE
    e.g "Nd4 is a great move"
*/
#classification-message-container,
#top-alternative-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 14px !important;
    width: 90%;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 5px;
    color: white;
    border: 2px solid var(--border-color);
}

#classification-message {
    font-size: 18px;
}

#top-alternative-message {
    color: #4caf50;
    text-align: center !important;
    margin-top: 5px !important;
}

/*
    ENGINE SUGGESTIONS
*/
#engine-suggestions {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 14px !important;
    border: 2px solid var(--border-color);

    width: 90%;

    background-color: var(--primary-color);
}

#engine-suggestions-title {
    margin-top: 5px;
}

.accuracyHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.engine-suggestion {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px;
    font-size: 16px;

}

.engine-suggestion b {
    padding: 0 3px;
    text-align: center;
    border-radius: 5px;
    padding: 0px 4px 0px 4px;
    background-color: var(--secondary-color);
    border: 2px solid var(--border-color);
}

/*
    OPENING NAME
*/

#opening-name {
    position: absolute;
    left: 5%;
    top: 50px;
    width: 90%;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 2px solid var(--border-color);
    padding: 5px 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media (max-width: 1026px) {
    #opening-name {
        font-size: 15px;
    }
}

@media (max-width: 999px) {
    #opening-name {
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    #opening-name {
        font-size: 12px;
    }
}
