.profile {
    color: white;
    font-size: 20px;
}

#board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    grid-column: 1 / 2;

    max-width: 100%;

    border: 2px solid var(--border-color);
    border-radius: 10px;
}