body {
    background-color: var(--primary-color);
}

.white {
    color: white;
}

@media (min-width: 1000px) and (min-height: 800px) {
    #review-container {
        display: grid;
    
        grid-template-columns: 68vw 28vw;
        grid-template-rows: 90vh;
    }

    #review-panel {
        grid-template-rows: 90% 10%;
        
        margin: 20px;
    }
}

@media (max-width: 999px), (max-height: 799px) {
    #review-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #review-panel {
        display: flex;
        flex-direction: column;
    }

    #performance-message {
        width: 60%;
    }

    #review-panel-toolbar {
        padding: 10px;
    }
}